// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------
$white:      #fff;
$black:      #000;
$off-white:  #e0e0e0;
$off-black:  #333333;
$gray:       #888888;
$gray-dark:  #666666;
$blue:       #3c4251;
$blue-light: #464b5e;
$blue-dark:  #333745;
$green-dark: #108c46;
$red:        #ec3e2c;

$darken5:       rgba(0, 0, 0, 0.05);
$darken8:       rgba(0, 0, 0, 0.08);
$darken10:      rgba(0, 0, 0, 0.1);
$darken15:      rgba(0, 0, 0, 0.15);
$darken20:      rgba(0, 0, 0, 0.2);
$darken30:      rgba(0, 0, 0, 0.3);
$darken50:      rgba(0, 0, 0, 0.5);


// -----------------------------------------------------------------------------
// Fonts
// -----------------------------------------------------------------------------
$font-family-base: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


// -----------------------------------------------------------------------------
// Transitions
// -----------------------------------------------------------------------------
$transition-all: all 0.3s ease-out;


// -----------------------------------------------------------------------------
// Spacing
// -----------------------------------------------------------------------------
$rem-pixels: 10;

@function rem-calc($px) {
  @return 1rem * $px / $rem-pixels;
}

$spacing-2xs: rem-calc(4);
$spacing-xs: rem-calc(8);
$spacing-s: rem-calc(12);
$spacing-m: rem-calc(20);
$spacing-l: rem-calc(30);
$spacing-xl: rem-calc(45);
$spacing-2xl: rem-calc(60);
$spacing-3xl: rem-calc(100);

$spacings: (
    '0': 0,
	'2xs': $spacing-2xs,
	'xs': $spacing-xs,
	's': $spacing-s,
	'm': $spacing-m,
	'l': $spacing-l,
	'xl': $spacing-xl,
	'2xl': $spacing-2xl,
    '3xl': $spacing-3xl,
);

$text-size-2xs: 0.4em;
$text-size-xs: 0.6em;
$text-size-s: 0.8em;
$text-size-l: 1.15em;
$text-size-xl: 1.3em;
$text-size-2xl: 1.6em;

$text-sizes: (
	'2xs': $text-size-2xs,
	'xs': $text-size-xs,
	's': $text-size-s,
	'l': $text-size-l,
	'xl': $text-size-xl,
	'2xl': $text-size-2xl,
);


// -----------------------------------------------------------------------------
// Sides
// -----------------------------------------------------------------------------
$sides: (
	'b': 'bottom',
	'l': 'left',
	'r': 'right',
	't': 'top'
);


// -----------------------------------------------------------------------------
// Export variables to JS
// -----------------------------------------------------------------------------
:export {
    white: $white;
    black: $black;
    offWhite: $off-white;
    offBlack: $off-black;
    gray: $gray;
    grayDark: $gray-dark;
    blue: $blue;
    lightBlue: $blue-light;
    darkBlue: $blue-dark;
    greenDark: $green-dark;
    red: $red;
    darken5: $darken5;
    darken8: $darken8;
    darken10: $darken10;
    darken15: $darken15;
    darken20: $darken20;
    darken30: $darken30;
    darken50: $darken50;
    transitionAll: $transition-all;
    fontFamilyBase: $font-family-base;
    remPixels: $rem-pixels;
    spacing2xs: $spacing-2xs;
    spacingXs: $spacing-xs;
    spacingS: $spacing-s;
    spacingM: $spacing-m;
    spacingL: $spacing-l;
    spacingXl: $spacing-xl;
    spacing2xl: $spacing-2xl;
    spacing3xl: $spacing-3xl;
    textSize2xs: $text-size-2xs;
    textSizeXs: $text-size-xs;
    textSizeS: $text-size-s;
    textSizeL: $text-size-l;
    textSizeXl: $text-size-xl;
    textSize2xl: $text-size-2xl;
}
