# Automated testing
.php_cs.cache
.phpunit.result.cache

# Caches
/storage/*.key
/storage/debugbar
/storage/tmp

# IDEs
/.idea
/.vscode

# Macs
**/.DS_Store

# Package Managers
/vendor
/node_modules
yarn-error.log
npm-debug.log

# Public dir
public/
!public/index.php
!public/.htaccess
!public/robots.txt
!public/favicon.ico
!public/web.config

# Secrets
provisioning/deploy.sh
.env
.env.production
