.product-deal-price-st {
  text-decoration: line-through;
  color: #a81a1a;
  font-size: 1.4em;
}

.product-deal-price {
  color: #108c46;
  font-weight: 500;
  font-size: 1.6em;
}

.product-info-savings {
  color: #636262;
  font-size: 1.05em;
}


.product-description-heading {
  font-size: 1.6em;
  color: #042251;
}

.product-description {
  font-size: 1.2em;
}

.product-info-seller-name {
  color: gray;
}

.fast-shipping-span {
  font-size: 1.1em;
}
